PORT=
MYSQL_HOST=127.0.0.1
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=nLogin

NLOGIN_TABLE=nlogin

NLOGIN_COL_ID=ai
NLOGIN_COL_NAME=last_name
NLOGIN_COL_REALNAME=last_name
NLOGIN_COL_PASSWORD=password
NLOGIN_COL_ADDRESS=last_ip
NLOGIN_COL_REGDATE=creation_date
NLOGIN_COL_LASTLOGIN=last_seen
NLOGIN_COL_EMAIL=email
NLOGIN_COL_RANK=rank
NLOGIN_COL_BALANCE=balance
NLOGIN_COL_PIN=password
NLOGIN_COL_TWITTER=discord
NLOGIN_COL_DISCORD=discord
NLOGIN_COL_SETTINGS=settings

BCRYPT_ROUNDS=10
CORS_ORIGIN=*

JWT_SECRET=uzun-rasgele-bir-şifre-girin
JWT_EXPIRES_DAYS=7
